<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="AnvilDb">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Stress">
            <directory>tests/Stress</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>stress</group>
        </exclude>
    </groups>
</phpunit>
